
*{
    box-sizing: border-box;
}
.title {
    font-size: 100px;
    text-align: center;
    background-color: #18191A;
    margin: 0px;
    font-family: 'Niconne', cursive;
    font-weight: bold;
    box-shadow: 0 8px 10px black;
    letter-spacing: 2px;
    color: red;
}

body {
    background-color: #18191A;
    font-family: 'Poppins', sans-serif;
}

.top-container {
   padding: 10px;
   display: flex;
   justify-content: center;
   background-color: #18191A;
}

.hidden {
    display: none;
}

#search {
    border: 2px solid #dad7cd;
    border-radius: 70px;
    font-size: 15px;
    padding: 10px;
}

#movies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #18191A;
}

.movie-card {
    width: 200px;
    height: 400px;
    margin: 20px;
    background-color: #18191A;
    box-shadow: 0 4px 5px #18191A;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.movie-poster {
    width: 100%;
    height: auto;
}

.movie-info {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    font-size: 11px;
    letter-spacing: 1px;
}

.movie-info.span{
    border-radius: 2px;
    font-weight: bold;
    background-color: white;
}

.movie-info span.green {
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 3px;
    padding:2px;
}

.movie-info span.yellow {
    color: yellow;
    border: 2px solid yellow;
    border-radius: 3px;
    padding: 2px;
}

.movie-info span.red {
    color: red;
    border: 2px solid red;
    border-radius: 3px;
    padding: 2px;
}

h2 {
    text-align: center;
}

.overview {
    background-color: #18191A;
    color: red;
    font-size: 12px;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);  /*hide overview until hovered */
    transition: transform 0.3s ease; /*show up in transition */
}

.movie-card:hover .overview {
    transform: translateY(0); /*undo the translate so it pops up */
}
.movie-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

button {
    border: 2px solid #dad7cd;
    border-radius: 40px;
    font-size: 13px;
    padding: 10px;
}
#load-more-movies-btn {
    display: flex;
    margin: auto;
}
